/* 6. Write CSS rules that cause the header and .collage div to be centered on the page */
body {
text-align: center;
}
header .collage { 
width: 800px;
margin: 0 auto;
}
/* 7. Write CSS rules that ensure that no more than 4 photos appear on a row */

.collage {
display: flex;
flex-wrap: wrap;
}

img {
  flex: 1 0 21%;
  margin: 5;
  height: 200px;
  background-color: blue;
}